.heading1 {
	font-size: 42px;
	font-weight: 500;
	line-height: 1.4;
	margin-bottom: 10px;
	color: $text;
}
.heading2 {
	font-size: 34px;
	color: $text;
}
.heading3 {
	font-size: 26px;
	color: $text;
}
.body {
	font-size: $bodytext;
	color: $text;
}
a {
	color: $cta;
	text-decoration: none;

		&:hover {
			color: darken($cta, 10%);
		}
}