/*------------------------------------*\
    LAYOUT
\*------------------------------------*/
$break: 600px;
$width: 1140px;




/*------------------------------------*\
    COLORS
\*------------------------------------*/
$brand: #45ACD2;
$cta: #4AC0AE;


$text: #151515;
$secondary-text: #AEAEAE;


$dark-overlay: #38322B;




/*------------------------------------*\
    TYPOGRAPHY
\*------------------------------------*/
$primary: "europa",sans-serif;
$secondary: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;


$bodytext: 18px;